h1 {
    font-size: 4em;
    text-align: center;

}


body {
    background-image: linear-gradient(to right, blueviolet, rgb(99, 99, 167));

}



figure {
    border: 5px solid rebeccapurple;
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 0.2s ease-in;

}

@keyframes colorshadow {
    from{box-shadow:10px 10px 10px coral;}
    to{box-shadow: 10px 10 px 10 px cornflowerblue}
}

figure:hover {
    box-shadow: 10px 10px 10px black;
    transform: translate(0,-50px)
}